<h1>Crud Operation</h1>
<form method="POST" action="" #myForm="ngForm">
  <div class="col">
    <div class="minput">
      <input type="text" id="name" dir="auto" required>
      <span class="bar"></span>
      <label>Name</label>
    </div>
    <div class="minput">
      <input type="number" id="mobile" dir="auto" required>
      <span class="bar"></span>
      <label>Mobile</label>
    </div>
    <div class="minput">
      <textarea type="number" id="address" dir="auto" required></textarea>
      <span class="bar"></span>
      <label>Address</label>
    </div>
  </div>
  <div class="col">
    <div class="minput">
      <input type="email" id="email" dir="ltr" class="" required>
      <span class="bar"></span>
      <label>Email</label>
    </div>
    <div class="minput">
      <input type="date" id="pseudo" dir="auto" required>

      <span class="bar"></span>
      <label>Date Of Birth</label>
    </div>
    <div class="minput">
      <input type="number" id="password" dir="auto" required>
      <span class="bar"></span>
      <label>ECTC</label>
    </div>
  </div>
</form>

<div class="form2" *ngIf="myForm.valid">
  <div class="add-task">
    <input [(ngModel)]="newTask.title" placeholder="Orginzation" type="text">
    <input [(ngModel)]="newTask.course" placeholder="Course Name" type="text">
    <input [(ngModel)]="newTask.fullmark" placeholder="Full Mark" type="number">
    <input [(ngModel)]="newTask.obtainmark" placeholder="Mark Obtain" type="number">
    <input type="date" [(ngModel)]="newTask.dueDate" >
    
    <button class="add_btn" (click)="addTodo()">Add</button>
  </div>


  <div class="task-list">
    <div *ngFor="let task of tasks; let i = index" class="task">
      <div class="data_show" *ngIf="!task.editing">
        <p>{{ task.title }}</p>
        <p>{{ task.course }}</p>
        <p>{{ task.fullmark }}</p>
        <p>{{ task.obtainmark }}</p>
        <p>{{ task.dueDate }}</p>
        <button class="edit_btn" (click)="editTask(i)">Edit</button>
        <button class="delete_btn" (click)="deleteTask(i)">Delete</button>
      </div>
      <div *ngIf="task.editing" class="add-task add-task2">
        <input [(ngModel)]="task.title" type="text">
        <input [(ngModel)]="task.course" type="text">
        <input [(ngModel)]="task.fullmark" type="number">
        <input [(ngModel)]="task.obtainmark" type="number">
        <input type="date" [(ngModel)]="task.dueDate">
        <button class="save_btn" (click)="saveTask(i)">Update</button>
        <button class="cancel_btn" (click)="cancelEdit(i)">Cancel</button>
      </div>
    </div>
  </div>
</div>